@using Entity.Base
@using PagedList.Mvc;
@model PagedList.IPagedList<News>


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/WebAdmin/Views/Shared/_Layout.cshtml";
}

<!-- BEGIN ROW -->
<section class="panel">
    <header class="panel-heading">
        <a class="btn btn-sm btn-success" href="@Url.Action("Create","News")">
            <i class="glyphicon glyphicon-plus">
            </i>
            <span>新增</span>
        </a>
        <a class="btn btn-sm btn-danger delete" id="DeleteAll">
            <i class="glyphicon glyphicon-trash">
            </i>
            <span>删除所选</span>
        </a>
    </header>

    <div class="panel-body">
        <div id="toolbar" class="btn-group">
            <select id="sel_exportoption" class="form-control">
                <option value="">导出本页数据</option>
                <option value="all">导出所有数据</option>
                <option value="selected">导出已选数据</option>
            </select>
        </div>
        <table id="editable-sample"></table>
    </div>

</section>
@section scripts{
    <link href="~/Areas/WebAdmin/Scripts/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
    <script src="~/Areas/WebAdmin/Scripts/bootbox.min.js"></script>
    <script src="~/Areas/WebAdmin/CommonJS/AjaxHelper.js"></script>
    <script src="~/Areas/WebAdmin/CommonJS/Common.js"></script>
    <script src="~/Areas/WebAdmin/Scripts/bootstrap-table/bootstrap-table.js"></script>
    <script src="~/Areas/WebAdmin/Scripts/bootstrap-table/export/bootstrap-table-export.js"></script>
    <script src="~/Areas/WebAdmin/Scripts/bootstrap-table/export/tableExport.js"></script>
    <script src="~/Areas/WebAdmin/Scripts/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
    <script src="~/Areas/WebAdmin/app/NewsApp.js"></script>

}